.searchStock
{
    text-align: center;
    margin: 1%;
}
#box 
{
    width: 50%;
    height: 30px;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(177, 168, 168));
    color: rgb(8, 8, 36);
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}
#button
{
    height: 38px;
    
    background-color: rgb(58, 58, 190);
}