<a id='searchStocky' href="/searchStock" style="background: #0BB76C;
display: block;
font-size: 1.5em;
padding: 1em;
text-align: center;
text-decoration: none;
color:#fff;
border-radius: 10px 10px 10px 10px;
background-image: radial-gradient(rgb(44, 80, 10),rgba(63, 199, 63, 0.61));
margin: 2px;" >
  Click Here to Search Stock :)
</a>
<div class="stocks">
  <div class="stock" *ngFor = "let stock of stocks">
    <span class="stockInit" [style.backgroundColor] = "stock.stockColor">{{stock.stockInit}}</span>
    <span class="stockName">{{stock.stockName}}</span>
  </div>
</div>
